@import "../../responsive.scss";

.gamelistcontainer {
    .detailgamelist {
        margin: 2%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;
        @include sm {
            grid-template-columns: repeat(2, 1fr); // Hiển thị 2 cột khi ở màn hình nhỏ
          }
    }

    .game {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        cursor: pointer;
        text-align: center;
        // transition: transform 0.5s ease, box-shadow 0.9s ease;
        border: 5px solid transparent;
        box-sizing: border-box;
        transition: border-color 0.3s ease;

        &:hover {
            // transform: scale(1.1);
            // box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.2);
            // border: 5px solid #a3b1cf;
            border-color: #a3b1cf;
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 10px;

            @include sm {
                height: 120px;
            }
        }

        h1 {
            color: black;
            @include sm {
                font-size: 14px;
            }
        }
    }

    .countdown-bar {
        position: relative;
        margin: 0 auto;
        width: 300px;
        border-radius: 15px;    
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid #8d9fb1;
        overflow: hidden;
        // margin: 30px;

        .progress {
            height: 5px;
            background-color: #007bff;
            border-radius: 3px;
            width: 0;
            transition: width 1s linear;
        }

        .pagination {
            display: flex;
            list-style: none;
            padding: 0;
            justify-content: center;
            margin-top: 10px;

            li {
                margin: 0 5px;
                cursor: pointer;
                padding: 8px 12px;
                border-radius: 5px;
                background-color: #f8f9fa;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                transition: background-color 0.3s, color 0.3s;
                
                &:hover {
                    background-color: #e9ecef;
                }

                &.active {
                    background-color: #007bff;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}