@import "../../responsive.scss";

.gamedetail {
    flex-direction: column;
    background-color: rgb(246, 246, 246);

    @include sm {
        margin: 0;
    }

    .game-info {
        display: flex;
        width: 100%;

        @include sm {
            flex-direction: column;
            width: 90%;
        }

        @include md {
            flex-direction: column;
            width: 90%;
        }

        .game-info-left {
            width: 60%;
            padding: 20px;
            background-color: rgb(246, 246, 246);

            @include sm {
                width: 100%;
            }

            @include md {
                width: 100%;
            }

            .game-play {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                background-color: #d1cdcd;

                p {
                    font-size: 1.2rem;
                    margin: 0;
                    color: #333;
                }

                img {
                    width: 200px;
                    height: 120px;
                    margin-top: 150px;
                    border-radius: 25px;
                }

                button {
                    margin-top: 10px;
                    margin-bottom: 150px;
                    padding: 8px 16px;
                    font-size: 1rem;
                    font-weight: bold;
                    background-color: #007bff;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                }
            }



            .descript {
                display: flex;
                justify-content: space-between; // Add this line to push des-right to the right
                margin: 20px 0;
                // padding-left: 50px;
                width: auto;
                max-width: 1200px;
                border: 0.25px solid #ddd;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

                .des-left {
                    width: 100%;

                    .left-1 {
                        padding-left: 30px;
                        border: 0.25px solid #ddd;

                        p {
                            padding: 10px;
                            font-weight: bold;
                            font-size: 1rem;
                            color: #666;
                        }
                    }

                    .left-1-like {
                        display: flex;
                        padding-left: 30px;
                        align-items: center;

                        @include sm {
                            padding-right: 0;
                        }

                        p {
                            padding: 10px;
                            font-weight: bold;
                            font-size: 1rem;
                            color: #666;
                        }
                        .custom-box {
                            margin-left: 300px;
                            // padding: 16px;
                            display: flex;

                            @include sm {
                                margin-left: 0;
                            }
                    
                            .custom-rating {
                                display: flex;
                                align-items: center;
                    
                                svg {
                                    font-size: 2.5rem;
                                    color: #f8d61e;
                                }
                            }
                    
                            p {
                                font-size: 2.2rem;
                                font-weight: bold;
                                color: #333;
                                margin: 0;  

                                @include sm {
                                    display: none;
                                }

                                @include md {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .des-right {
                    margin-top: 10px;
                    padding-left: 30px;
                    padding-right: 30px;
                    display: grid;
                    border: 1px solid #ddd;
                    border-radius: 15px;
                    height: 20%;
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    display: flex;
                    margin-right: 250px;

                    svg {
                        margin-top: 10px;
                        margin-right: 10px;
                        font-size: 2rem;
                        color: #007bff;
                        cursor: pointer;
                        transition: color 0.3s;

                        &:hover {
                            color: #007bff;
                        }
                    }
                }
            }
        }

        .game-info-right {
            margin-top: 20px;

            @include sm {
                margin-left: 20px;
            }

            h1 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            .similar-game {
                display: grid;
                grid-template-columns: repeat(2, 1fr); // 2 cột
                grid-template-rows: repeat(3, 1fr); // 3 hàng
                gap: 20px;
                padding: 10px;

                @include sm {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0;
                    padding: 0;
                }

                .similar-game-item {
                    cursor: pointer;
                    background-color: #fff;
                    border-radius: 10px;
                    overflow: hidden;
                    text-align: center;
                    padding: 15px;
                    // transition: transform 0.3s ease, box-shadow 0.3s ease;
                    border: 5px solid transparent;
                    box-sizing: border-box;
                    transition: border-color 0.3s ease;

                    @include sm {
                        padding: 5px;
                    }

                    img {
                        width: 100%;
                        max-width: 220px;
                        height: 140px;
                        object-fit: cover;
                        border-radius: 5px;
                        margin-bottom: 10px;

                        @include sm {
                            height: 100px;
                        }
                    }

                    p {
                        font-size: 20px;
                        color: #333;
                        margin: 5px 0;
                        font-weight: bold;

                        @include sm {
                            font-size: 14px;
                        }
                    }

                    &:hover {
                        // transform: scale(1.1);
                        // box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.2);
                        // border: 5px solid #a3b1cf;
                        border-color: #a3b1cf;
                    }

                    &.empty {
                        background-color: #f5f5f5;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            color: #aaa;
                        }
                    }
                }
            }
        }

    }
}