.gamedetail {
    flex-direction: column;
    margin: 20px;

    .game-info {
        display: flex;
        width: 100%;

        .game-info-left {
            width: 60%;
            padding: 20px;
            background-color: white;

            .game-play {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

                p {
                    font-size: 1.2rem;
                    margin: 0;
                    color: #333;
                }

                img {
                    width: 200px;
                    height: auto;
                    max-height: 170px;
                    margin-top: 150px;
                    border-radius: 25px;
                }

                button {
                    margin-top: 10px;
                    margin-bottom: 150px;
                    padding: 8px 16px;
                    font-size: 1rem;
                    font-weight: bold;
                    background-color: #007bff;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                }
            }



            .descript {
                display: flex;
                justify-content: space-between; // Add this line to push des-right to the right
                margin: 20px 0;
                // padding-left: 50px;
                width: auto;
                max-width: 1200px;
                border: 1px solid #ddd;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

                .des-left {
                    width: 100%;
                    .left-1 {
                        padding-left: 30px;
                        border: 1px solid #ddd;
                        p {
                            padding: 10px;
                            font-weight: bold;
                            font-size: 1rem;
                            color: #666;
                        }
                    }
                }

                .des-right {
                    margin-top: 10px;
                    padding-left: 30px;
                    padding-right: 30px;
                    display: grid;
                    border: 1px solid #ddd;
                    border-radius: 15px;
                    height: 20%;
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    display: flex;
                    margin-right: 250px;

                    svg {
                        margin-top: 10px;
                        margin-right: 10px;
                        font-size: 2rem;
                        color: #007bff;
                        cursor: pointer;
                        transition: color 0.3s;

                        &:hover {
                            color: #007bff;
                        }
                    }
                }
            }
        }

        .game-info-right {
            margin-top: 20px;

            h1 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            .similar-game {
                display: grid;
                grid-template-columns: repeat(2, 1fr); // 2 cột
                grid-template-rows: repeat(3, 1fr); // 3 hàng
                gap: 20px;
                padding: 10px;

                .similar-game-item {
                    cursor: pointer;
                    background-color: #fff;
                    border-radius: 10px;
                    overflow: hidden;
                    text-align: center;
                    padding: 15px;
                    transition: transform 0.3s ease, box-shadow 0.3s ease;

                    img {
                        max-width: 220px;
                        height: 140px;
                        object-fit: cover;
                        border-radius: 5px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        color: #333;
                        margin: 5px 0;
                    }

                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.2);
                        border: 5px solid #a3b1cf;
                    }

                    &.empty {
                        background-color: #f5f5f5;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            color: #aaa;
                        }
                    }
                }
            }
        }

    }

    .collections {
        margin-top: 20px;

        h5 {
            font-size: 2rem;
        }
    }
}